.timerBtn {
  width: 90px;
  height: 30px;
  border: 3px solid;
  border-radius: 12px;
  background-color: #333333;
  color: white;
  cursor: pointer;
  font-family: monospace;
}

.timerBtn:active {
  opacity: 0.5;
}

#timeDisplay {
  font-size: 75px;
  color: rgb(0, 179, 0);
  font-family: monospace;
}

#timeContainer {
  text-align: center;
  border: 3px solid;
  border-radius: 25px;
  background-color: #222222;
}

.checkpointsEl {
  font-family: monospace;
  color: white;
  font-size: 30px;
  text-align: left;
  margin-left: 30px;
}
